<!-- <template>
  <div id="box">
    <div class="header">
      <div class="head-left">
        <div
          v-for="(item, index) in navList"
          :key="index"
          :class="current === item.code ? 'nav cur' : 'nav'"
          @click="doView(item)"
        >
          {{ item.label }}
        </div>
      </div>
      <div class="right-menu">
        <div class="weather">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-tianqitubiao_qing"></use>
          </svg>
        </div>
        <div class="weatherDate">
          {{ weatherDate }}
          <span v-html="'\u00a0'"></span>
          {{ temp }}℃
          <span v-html="'\u00a0'"></span>
          {{ area }}
        </div>
        <div class="week">{{ week }}</div>
        <div class="systemTime">{{ systemTime }}</div>
        <el-dropdown
          class="avatar-container right-menu-item hover-effect"
          trigger="click"
        >
          <div class="avatar-wrapper">
            <img
              :src="avatar + '?imageView2/1/w/80/h/80'"
              class="user-avatar"
            />
            <i class="el-icon-caret-bottom" />
          </div>
          <el-dropdown-menu slot="dropdown">
            <router-link to="/">
              <el-dropdown-item>后台管理</el-dropdown-item>
            </router-link>
            <el-dropdown-item divided @click.native="logout">
              <span style="display: block">退出系统</span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div class="gifImg">
        <img src="~@/assets/dataVisualization/header.gif" alt="" />
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
//导入退出脚本
import { logout } from "@/api/user";
//导入auth.js
import { getToken, removeToken, clearStorage } from "@/utils/auth";
import route from "vue-router";
export default {
  components: {},
  computed: {
    ...mapGetters(["sidebar", "avatar", "device"]),
  },
  data() {
    return {
      systemTime: "",
      timer: null,
      week: "",
      weatherDate: "",
      temp: "",
      area: "",
      current: "0",
      navList: [
        { code: "0", label: "指挥中心", link: "/commandCenter" },
        { code: "1", label: "预警中心", link: "/earlyWarningCenter" },
        { code: "2", label: "查询中心", link: "/queryCenter" },
        { code: "3", label: "紧急预案", link: "/emergencyPlan" },
      ],
    };
  },
  created() {
    this.getWeather(); // 获取天气
  },
  mounted() {
    this.newTime();
    this.timer = setInterval(() => {
      setTimeout(this.newTime, 0);
    }, 1000);
    /**
     * 页面跳转
     */
    const curObj =
      this.navList.filter((item) => item.link === this.$route.path)[0] || {};
    this.current = curObj.code;
  },
  methods: {
    /**
     * 页面跳转
     */
    doView(item) {
      this.$router.push(item.link);
      this.current = item.code;
    },
    // 获取天气
    getWeather() {
      axios
        .get("https://apia.aidioute.cn/weather/")
        .then((res) => {
          this.weatherDate = res.data.data.weather.weather;
          this.temp = res.data.data.weather.temp;
          this.area = res.data.data.location.area;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    /**
     * 获取时间的方法
     */
    timestampToTime(times) {
      let time = times[1];
      let mdy = times[0];
      mdy = mdy.split("/");
      let month = parseInt(mdy[0]);
      let day = parseInt(mdy[1]);
      let year = parseInt(mdy[2]);
      return year + "-" + month + "-" + day + " " + time;
    },
    /**
     *获取系统时间
     */
    newTime() {
      let time = new Date();
      let nowTime = this.timestampToTime(
        time.toLocaleString("en-US", { hour12: false }).split(" ")
      );
      this.systemTime = nowTime;
      var str = "星期" + "日一二三四五六".charAt(new Date().getDay());
      this.week = str;
    },
    /**
     * 清除定时器
     */
    beforeDestroy() {
      clearInterval(this.timer);
      this.timer = null;
    },
    toggleSideBar() {
      this.$store.dispatch("app/toggleSideBar");
    },
    /**
     * 用户退出登录
     */
    async logout() {
      //确认提示
      let confirm = await this.$myconfirm("确定要退出系统吗？");
      //是否确认
      if (confirm) {
        //封装请求参数
        let params = { token: getToken() };
        //发送退出请求
        let res = await logout(params);
        //判断是否成功
        if (res.success) {
          //清空token信息
          removeToken();
          clearStorage();
          //跳转到登录界面
          window.location.href = "/login";
        }
      }
    },
  },
};
</script>

<style lang="scss">
.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  animation: rotate 5s linear infinite;
}
#box {
  width: 1920px;
  height: 1080px;
  background-image: url(~@/assets/dataVisualization/bg.png);
  .head-left {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 34%;
    padding-left: 25px;
    padding-top: 25px;
    box-sizing: border-box;
    .nav {
      background-image: url(~@/assets/dataVisualization/tab-i3.png);
      background-size: 100% 100%;
      width: 112px;
      height: 35px;
      text-align: center;
      line-height: 38px;
      font-size: 0.7em;
      color: #aed2f1;
      cursor: pointer;
    }
    .nav:hover {
      background-image: url(~@/assets/dataVisualization/tab-i2.png);
      font-size: 0.9em;
    }
    .nav.cur {
      background-image: url(~@/assets/dataVisualization/tab-i2.png);
      background-size: 100% 100%;
      color: #ffffff;
      width: 112px;
      height: 35px;
      text-align: center;
    }
  }
  .header {
    width: 1920px;
    height: 100px;
    background: url(~@/assets/dataVisualization/header.png) no-repeat;
    background-color: black;
    position: relative;
    .weather {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 9px;
      right: 444px;
    }
    .weatherDate {
      color: white;
      width: 176px;
      height: 100px;
      position: absolute;
      font-size: 1.1em;
      right: 314px;
    }
    .systemTime {
      color: white;
      width: 165px;
      height: 100px;
      position: absolute;
      font-size: 1.1em;
      right: 100px;
    }
    .week {
      color: white;
      width: 100px;
      height: 100px;
      position: absolute;
      font-size: 1.1em;
      right: 240px;
    }
    .right-menu {
      position: absolute;
      top: 15px;
      right: 0;
      height: 50px;
      line-height: 50px;
      text-align: center;
      &:focus {
        outline: none;
      }
      .right-menu-item {
        display: inline-block;
        padding: 0 8px;
        height: 100%;
        font-size: 18px;
        color: #5a5e66;
        vertical-align: text-bottom;

        &.hover-effect {
          cursor: pointer;
          transition: background 0.3s;

          &:hover {
            background: rgba(0, 0, 0, 0.025);
          }
        }
      }
      .avatar-container {
        margin-right: 30px;
        position: relative;

        .avatar-wrapper {
          margin-top: 5px;
          position: relative;

          .user-avatar {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 10px;
          }

          .el-icon-caret-bottom {
            cursor: pointer;
            position: absolute;
            right: -20px;
            top: 25px;
            font-size: 12px;
          }
        }
      }
    }
    .gifImg {
      width: 1920px;
      height: 100px;
      display: table-cell; /*主要是这个属性*/
      vertical-align: middle;
      text-align: center;
    }
    .gifImg img {
      width: 960px;
      height: 160px;
    }
  }
}
</style> -->
