<template>
  <div>
    <dictTypeList v-if="dictType === ''" @fn="fn" />
    <dictDataList v-if="dictType !== ''" @fn="fn" :dictType="dictType" />
  </div>
</template>

<script>
import dictTypeList from "./dictType/dictTypeList";
import dictDataList from "./dictData/dictDataList";
export default {
  //注册组件
  components: { dictTypeList, dictDataList },
  name: "dictTypeAndDictData",
  data() {
    return {
      dictType: "",
    };
  },
  methods: {
    fn(e) {
      this.dictType = e;
    },
  },
};
</script>

<style></style>
